*{
    margin: 0;
    padding: 0;
}
.bg-image{
    background-image: url(assets/bg-1.jpg);
}
main{
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    border-radius: 0.25rem;
    font-size: 25px;
}
.bg-color{
   background: #444462b4;
   width: 60%;
   align-items: center;
}
.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 20px;
    font-weight: 500;
    background: green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}